<!DOCTYPE html>
<html>
  <head>
    <title>Qbes.Server {#Server.Version} - {#Page.Header}</title>
    <script type="text/javascript" src="/WebContent/Scripts/main.0.1.5.0.js"></script>
    <link href="/WebContent/Styles/main.0.1.5.0.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <h1>Qbes.Server {#Server.Version} - {#Page.Header}</h1>
      <div class="user">
      </div>
    </div>
    <div class="menu">
    </div>
    <div class="content">
      {@Content=Content}
    </div>
    <div class="footer">
      <p>Copyright &copy; Michal Codl 2012 - 2013</p>
    </div>
  </body>
</html>